In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
#xls = pd.ExcelFile('GridSearch Results.xlsx')
df = pd.read_excel('GridSearch Results.xlsx')

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df

,Unnamed: 0,Model Object,Training Loss,Testing Loss,Training MSE,Testing MSE,Training MAE,Testing MAE
0,0,<keras.src.engine.sequential.Sequential object...,0.067254,0.065098,0.055774,0.054176,0.189499,0.184847
1,1,<keras.src.engine.sequential.Sequential object...,0.063734,0.062193,0.053734,0.052526,0.184711,0.180921
2,2,<keras.src.engine.sequential.Sequential object...,0.063409,0.061660,0.052918,0.051487,0.182342,0.177818
3,3,<keras.src.engine.sequential.Sequential object...,0.064508,0.062592,0.053878,0.052332,0.185187,0.180775
4,4,<keras.src.engine.sequential.Sequential object...,0.065470,0.063652,0.053457,0.052045,0.183995,0.179775
...,...,...,...,...,...,...,...,...
724,724,<keras.src.engine.sequential.Sequential object...,0.063972,0.062921,0.049203,0.048707,0.174219,0.172381
725,725,<keras.src.engine.sequential.Sequential object...,0.063225,0.062039,0.048525,0.047859,0.172254,0.170475
726,726,<keras.src.engine.sequential.Sequential object...,0.066558,0.064554,0.051050,0.049756,0.178889,0.175359
727,727,<keras.src.engine.sequential.Sequential object...,0.064061,0.062588,0.048962,0.048029,0.173603,0.169935
728,728,<keras.src.engine.sequential.Sequential object...,0.064402,0.063232,0.047977,0.047408,0.171359,0.169750

In [4]:
df_sorted = df.sort_values('Testing MSE')

In [5]:
df_sorted

,Unnamed: 0,Model Object,Training Loss,Testing Loss,Training MSE,Testing MSE,Training MAE,Testing MAE
485,485,<keras.src.engine.sequential.Sequential object...,0.064863,0.063529,0.047928,0.047123,0.171153,0.168491
404,404,<keras.src.engine.sequential.Sequential object...,0.065300,0.063965,0.048067,0.047291,0.171449,0.169315
161,161,<keras.src.engine.sequential.Sequential object...,0.064964,0.063386,0.048517,0.047381,0.172559,0.168292
719,719,<keras.src.engine.sequential.Sequential object...,0.063852,0.062574,0.048108,0.047407,0.171447,0.168413
728,728,<keras.src.engine.sequential.Sequential object...,0.064402,0.063232,0.047977,0.047408,0.171359,0.169750
...,...,...,...,...,...,...,...,...
162,162,<keras.src.engine.sequential.Sequential object...,0.066562,0.064453,0.054660,0.053087,0.187158,0.183003
243,243,<keras.src.engine.sequential.Sequential object...,0.065701,0.063861,0.054443,0.053122,0.186760,0.183481
486,486,<keras.src.engine.sequential.Sequential object...,0.064739,0.062694,0.054695,0.053165,0.187249,0.183022
0,0,<keras.src.engine.sequential.Sequential object...,0.067254,0.065098,0.055774,0.054176,0.189499,0.184847
165,165,<keras.src.engine.sequential.Sequential object...,0.066460,0.067532,0.054102,0.055698,0.185799,0.185483

In [8]:
df_sorted.reindex()

,Unnamed: 0,Model Object,Training Loss,Testing Loss,Training MSE,Testing MSE,Training MAE,Testing MAE
485,485,<keras.src.engine.sequential.Sequential object...,0.064863,0.063529,0.047928,0.047123,0.171153,0.168491
404,404,<keras.src.engine.sequential.Sequential object...,0.065300,0.063965,0.048067,0.047291,0.171449,0.169315
161,161,<keras.src.engine.sequential.Sequential object...,0.064964,0.063386,0.048517,0.047381,0.172559,0.168292
719,719,<keras.src.engine.sequential.Sequential object...,0.063852,0.062574,0.048108,0.047407,0.171447,0.168413
728,728,<keras.src.engine.sequential.Sequential object...,0.064402,0.063232,0.047977,0.047408,0.171359,0.169750
...,...,...,...,...,...,...,...,...
162,162,<keras.src.engine.sequential.Sequential object...,0.066562,0.064453,0.054660,0.053087,0.187158,0.183003
243,243,<keras.src.engine.sequential.Sequential object...,0.065701,0.063861,0.054443,0.053122,0.186760,0.183481
486,486,<keras.src.engine.sequential.Sequential object...,0.064739,0.062694,0.054695,0.053165,0.187249,0.183022
0,0,<keras.src.engine.sequential.Sequential object...,0.067254,0.065098,0.055774,0.054176,0.189499,0.184847
165,165,<keras.src.engine.sequential.Sequential object...,0.066460,0.067532,0.054102,0.055698,0.185799,0.185483

In [13]:
df_sorted.reset_index(inplace=True)

In [29]:
df_sorted.to_csv('df_sorted.csv')

In [28]:
df_sorted['Unnamed: 0']

0      485
1      404
2      161
3      719
4      728
      ...
724    162
725    243
726    486
727      0
728    165
Name: Unnamed: 0, Length: 729, dtype: int64

In [ ]:
best_10 = df_sorted.head(10)

In [ ]:
worst_10 = df_sorted.tail(10)

In [ ]:
best_10.index

In [ ]:
worst_10.index

In [ ]:
for i in best_10.index:
    config_path = f'./model-configs-round-2/model-{i}.json'
    print(config_path)

In [ ]:
for i in worst_10.index:
    config_path = f'./model-configs/model-{i}.json'
    print(config_path)